
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
<ul id="product">
    <li>Id:<span id="id"></span></li>
    <li>Name:<span id="name"></span></li>
    <li>Price:<span id="price"></span></li>
    <li>Shadyside: <span id="shadyside"></span></li>
    <li>Oakland : <span id="oakland"></span></li>
</ul>


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!--<script src="javascripts/main.js"></script>-->
<script src="javascripts/addCus.js"></script>
</body>
</html>
