
<!DOCTYPE html>
<html ng-app="analysisApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Customer Management</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/bootstrap-select.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/angular-google-chart/style.css"/>     
        <link rel="stylesheet" type="text/css" href="css/style.css"/>     
    </head>
    <body>
        <a href="#" class="toTop">
            <span class="glyphicon glyphicon-arrow-up"></span>
            <p>Top</p>
        </a>
        <div class="usrLog">
            Welcome, <span>007</span>
            <a href="entry" class="">Main Entry</a>              
            <a href="#" class="">Sign Out</a>
        </div>

        <div class="main" ng-controller="analysisContrl">
            <h1 class="text-center">Sales Analysis</h1>
            <div class="optPanel clearfix">
                
            </div>
            <hr />
            <div class="analysisHref">
                <P>Choose Your Question</P>
                <a href="#1">1. What are the top 5 hot products?</a>
                <a href="#2">2. What are the top 5 hot categories?</a>
                <a href="#3">3. Check Product Sales Data.</a>
            </div>
            <hr />
            <div class="analysisHref" id="1">
                <h3>1. Top 5 Best Sellers</h3>
                <div google-chart chart="productChart" style="{{productChart.cssStyle}}"></div>
            </div>
            <hr />
            <div class="analysisHref" id="2">
                <h3>2. Top 5 Hot Categories</h3>
                <div google-chart chart="categroyChart" style="{{categroyChart.cssStyle}}"></div>
            </div>
            <hr />
            <div class="analysisHref" id="3">
                <h3>3. Product Sales Detail</h3>
                <div class="optPanel clearfix">
                    <div class="searchBar">
                        <input type="text" placeholder="Search for...(id)" ng-model="id" />
                        <!-- <span class="glyphicon glyphicon-search"></span> -->
                        <button class="button_color" ng-click="searchProduct(id)">Search</button>
                    </div>
                </div>
                <div>
                    <div class="productData text-center clearfix">
                        <table>
                            <tr>
                                <td colspan="2"><img src="Users/product/amazon.jpg" width="150"/></td>
                            </tr>
                            <tr>
                                <th width="40%">Name:</th>
                                <td width="60%">apple iphone</td>
                            </tr>
                            <tr>
                                <th>Amount of Sales:</th>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <th>Sales Volumn:</th>
                                <td>$1000</td>
                            </tr>
                        </table>
                    </div>
                    <div google-chart chart="productDataChart" style="{{productDataChart.cssStyle}}"></div>
                </div>
            </div>
            <hr />
        
        <script type="text/javascript" src = "bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src = "bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript"src="bower_components/bootstrap-select/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-google-chart/ng-google-chart.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src = "js/script.js"></script>
    </body>
</html>
