
<!DOCTYPE html>
<html ng-app="productBrowseApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Brwosing Prodcuts</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/bootstrap-select.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>     
    </head>
    <body ng-controller="cartController">
        <div class="leftNav">
            <div class="usrLog text-center">
                Welcome<!-- , <span>007</span> -->   
                <div>
                    <a href="entry">Main Entry</a>           
                    <a href="/" class="">Sign Out</a>
                </div>
            </div>

            <ul class="cart">
                <li class="title">
                    <p>Shopping List</p>
                </li>
                <!--item-->
                <li class="list" ng-repeat="item in cart">
                    <div class="listName">{{item.name}}</div>
                    <div class="listInfo">
                        <div>
                            <span>Qty: </span>
                            <span class="qtySpan">{{item.num}}</span>

                            <input type="text" value="" class="editBox"/>
                            <input type="hidden" value="" class="editId"/>
                        </div> 
                        <a href="javascript:void(0);" ng-click="add(item.id)">+</a>
                            /
                            <a href="javascript:void(0);" ng-click="minus(item.id)">-</a>
                        <div>{{item.price * item.num | currency}}</div>
                    </div>
                    <div class="listOpt">
                        <a href="javascript:void(0);" class="delete" ng-click="delete(item.id)">Delete</a>
                    </div>
                </li>
                <!--end item-->     
                <!--total-->
                <li class="total">
                    <div>Total:</div>
                    <div>{{total | currency}}</div>
                </li>
                <li class="total">
                        <button class="button" ng-click="placeOrder()">Place Order</button>          
                </li>
                <!--end total-->
            </ul>
        </div>
        <div class="Container" ng-view>
            
        </div> 

        <modal title="Make Payment" visible="pay">
            <form class="pop">
                <div>
                    <label for="cid">Customer ID:</label>
                    <input type="text" id="cid" ng-model="customerId" placeholder="Enter Customer ID" />
                </div>
                <button class="button_color" ng-click="makePayment(customerId)">Submit</button>
            </form>
        </modal>
    
        <script type="text/javascript" src = "bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src = "bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript"src="bower_components/bootstrap-select/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src = "js/script.js"></script>
    </body>
</html>
