
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Login - Sales Management System</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/bootstrap-select.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>     
    </head>
    <body class="login">
        <div class="entryUsr usrLog text-center">
                Welcome, <span>007</span>                
                <a href="#">Sign Out</a>
            </div>
    	<h1 class="text-center">Select Your Option</h1>
    	<div class="text-center">
    		<a href="browsing" class="button entryButton">Producuts Browsing</a>
            <a href="inventory" class="button entryButton">Inventory Management</a>
            <a href="customer" class="button entryButton">Customer Management</a>
            <a href="analysis" class="button entryButton">Sales Analysis</a>
    	</div>
    </body>
</html>
