
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Login - Sales Management System</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/bootstrap-select.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>     
    </head>
    <body class="login">
    	<h1 class="text-center">Sales Management System</h1>
    	<div class="text-center panel">
    		<form>
    			<table>
    				<tr>
    					<td width="20%"><label>User Id</label></td>
    					<td><input type="text" name="username" /></td>
    				</tr>
    				<tr>
    					<td><label>Password</label></td>
    					<td><input type="password" name="password"/></td>
    				</tr>
    			</table>
    			
    			<button type="submit" class="button">Log In</button>
    		</form>
    	</div>
    </body>
</html>
