<div class="optPanel clearfix">
    <form class="searchBar">
        <input type="text" placeholder="Search for...(id, name)" ng-model="query" />
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </form>
    <form class="sortBar">
        <span>Sort By:</span>
            <select class="sortBy" ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="price">Price (Low to High)</option>
                <option value="-price">Price (Highw to Low)</option>
                <!-- <option data-divider="true"></option> -->
            </select>                
    </form>
    <form class='locationBar'>
        <span>Location: </span>
        <select class="location" data-live-search="true">
            <option>All Store</option>
            <option>Pittsburgh</option>
            <option>New York</option>
            <option>Washington DC</option>
            <option>Orlando</option>
        </select>                
    </form>
</div>
<!--card-->
<div class="Card clearfix" ng-repeat="product in products | filter:query | orderBy: orderProp">
    <div class="left">
        <img ng-src="{{product.image_path}}" />
    </div>
    <div class="middle">
        <div class="middleUp">
            <a href="#/browsing-detail/{{product.id}}" class="name">{{product.name}}</a>
            <p class="id">ID: {{product.id}}</p>
        </div>
        <p>
            <span class="price">{{product.price | currency}}</span>
            <span class="subInfo">Category: </span><span>{{product.product_kind}}</span>
        </p>
        <p class="description">
            {{product.description}}
        </p>
    </div>
    <div class="right">
            <span style="margin-left: 45px;">Quantity: </span>
            <input type="text" value="1" ng-model="qty" ng-init="qty=1" style="width: 35px;"/>
            <button class="button_color" ng-click="buy($event);" item-qty="{{qty}}" 
            item-name="{{product.name}}" item-price="{{product.price}}" item-id="{{product.id}}">Add To Cart</button>
    </div>
</div>
<!--end card-->
<script type="text/javascript">
    $('.sortBy').selectpicker();
    $('.location').selectpicker();
</script>