<div class="optPanel clearfix">
    <form class="searchBar">
        <input type="text" placeholder="Search for...(id, name)" />
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </form>
    <form class="sortBar">
        <span>Sort By:</span>
            <select class="sortBy">
                <option>Price (Low to High)</option>
                <option>Price (Highw to Low)</option>
                <option data-divider="true"></option>
                <option>Location</option>
                <option>Category</option>
            </select>                
    </form>
    <form class='locationBar'>
        <span>Location: </span>
        <select class="location" data-live-search="true">
            <option>All Store</option>
            <option>Pittsburgh</option>
            <option>New York</option>
            <option>Washington DC</option>
            <option>Orlando</option>
        </select>                
    </form>
</div>
<!--card-->
<div class="Card clearfix" ng-repeat="product in products">
    <div class="left">
        <img ng-src="{{product.image_path}}" />
    </div>
    <div class="middle">
        <div class="middleUp">
            <span class="name">{{product.name}}</span>
        </div>
        <p>
            <span class="price">{{product.price | currency}}</span>
            <span>Category: </span><span>{{product.product_kind}}</span>
        </p>
        <p class="description">
            {{product.description}}
        </p>
    </div>
    <div class="right">
        <form action="AddProducts" method="POST">
            <span style="margin-left: 45px;">Quantity: </span>
            <input type="hidden" name="id" value="1"/>
            <input type="hidden" name="name" value="Apple iPhone 6, Space Gray, 16 GB (Unlocked)"/>
            <input type="hidden" name="price" value="719.00"/>
            <input type="text" name="qty" value="1" style="width: 35px;"/>
            <button class="button_color" type="submit">Add To Cart</button>
        </form>
    </div>
</div>
<!--end card-->
<script type="text/javascript">
    $('.sortBy').selectpicker();
    $('.location').selectpicker();
</script>