<div class="detailLeft">
	<img class="big" src="images/1.png" />
	<ul class="thumbs">
		<li>
			<img src="images/2.png">
		</li>
		<li>
			<img src="images/2.png">
		</li>
		<li>
			<img src="images/2.png">
		</li>
		<li>
			<img src="images/2.png">
		</li>
		<li>
			<img src="images/2.png">
		</li>
	</ul>
</div>

<div class="detailRight">
	<h3>Apple iPhone 6, Space Gray, 16 GB (Unlocked)</h3>
	<hr />
	<p class="price">
            $719.00
        </p>
	<p>
		4.7-inch (diagonal) Retina HD display with 1334-by-750 resolution. 
            A8 chip with M8 motion coprocessor. 
            1080p HD video recording at 60 fps and slo-mo video recording at 240 fps. 
            Touch ID fingerprint sensor. 
            LTE¹ and 802.11ac Wi-Fi...
	</p>
	<hr />
	<div class="detailNotes">
		<p>Store: <span>Pittsburgh Store</span> <a href="javascript:void(0);">Change Store</a></p>
		<p>Inventory: <span>250</span></p>
	</div>
	<div class="input-group pull-left" style="width:30%;">
      	<span class="input-group-btn">
        	<button class="btn btn-default" type="button">-</button>
      	</span>
      	<input type="text" class="form-control" placeholder="Qty">
      	<span class="input-group-btn">
        	<button class="btn btn-default" type="button">+</button>
      	</span>
    </div><!-- /input-group -->
	<button class="button_color detailAdd">Add to Cart</button>
</div>