
<div class="detailLeft">
	<img class="big" ng-src="{{mainImg}}" />
	<ul class="thumbs">
		<li ng-repeat="img in product.image_path" ng-click="setImg(img)">
			<img ng-src="{{img}}">
		</li>
	</ul>
</div>

<div class="detailRight">
	<h3>{{product.name}}</h3>
	<p class="id">Product ID: {{product.id}}</p>
	<hr />
	<p class="price">
            {{product.price | currency}}
    </p>
    <div class="detailNotes">
		<p>Category: <span>{{product.kind}}</span></p>
	</div>
	<p>
		{{product.description}}
	</p>
	<hr />
	<div class="detailNotes">
		<p>Store: <span>{{store.name}}</span>
		</p>
		<p>Inventory: <span>{{product.amount}}</span></p>
	</div>
	<div class="input-group pull-left" style="width:30%;">
      	<span class="input-group-btn">
        	<button class="btn btn-default" type="button" ng-click="decrease()">-</button>
      	</span>
      	<input type="text" class="form-control" placeholder="Qty" ng-model="qty" ng-init="qty=1" />
      	<span class="input-group-btn">
        	<button class="btn btn-default" type="button" ng-click="increase()">+</button>
      	</span>
    </div><!-- /input-group -->
	<button class="button_color detailAdd" ng-click="buy($event);" item-qty="{{qty}}" 
            item-name="{{product.name}}" item-price="{{product.price}}" item-id="{{product.id}}">Add to Cart</button>
    <p>
    	<a href="#/browsing-list/{{store.id}}"><< Return To List Page</a> 
    </p>
</div>
<!-- <modal title="Change Store" visible="store">
    <form>
        <div>
            <label>Store:</label>
            <select class="location" data-live-search="true" ng-model="location">
                <option>All Store</option>
                <option>Pittsburgh</option>
                <option>New York</option>
                <option>Washington DC</option>
                <option>Orlando</option>
            </select>
        </div>
        <button class="button_color" ng-click="selectStore(location)">Submit</button>
    </form>
</modal>
 -->