<h1 class="text-center">{{customer.name}}</h1>
<div class="optPanel clearfix">
    <a href="#/">&lt;&lt;Return To List Page</a>
</div>
<hr />
<table class="customerTable customerDetailTable" align="center" ng-show="opt == 'view'">
	<tr>
		<td width="20%" class="tableTitle">Customer ID:</td>
		<td width="80%" class="tableText">{{customer.id}}</td>
	</tr>
	<tr>
		<td class="tableTitle">Name:</td>
		<td class="tableText">{{customer.name}}</td>
	</tr>
	<tr>
		<td class="tableTitle">Gender:</td>
		<td class="tableText">{{customer.gender == 'M'?'Male':'Female'}}</td>
	</tr>
	<tr>
		<td class="tableTitle">Age:</td>
		<td class="tableText">{{customer.age}}</td>
	</tr>
	<tr>
		<td class="tableTitle">Kind:</td>
		<td class="tableText">{{customer.kind}}</td>
	</tr>
	<tr>
		<td class="tableTitle">Street:</td>
		<td class="tableText">{{customer.street}}</td>
	</tr>
	<tr>
		<td class="tableTitle">City:</td>
		<td class="tableText">{{customer.city}}</td>
	</tr>
	<tr>
		<td class="tableTitle">State:</td>
		<td class="tableText">{{customer.state}}</td>
	</tr>
	<tr>
		<td class="tableTitle">ZIP Code:</td>
		<td class="tableText">{{customer.zipcode}}</td>
	</tr>
	<tr>
		<td class="tableTitle">Marriage:</td>
		<td class="tableText">{{customer.marriage_status}}</td>
	</tr>
	<tr>
		<td class="tableTitle">Home Income/Company Income:</td>
		<td class="tableText">{{customer.home_income == null?customer.company_income:customer.home_income}}</td>
	</tr>
	<tr ng-show="customer.business_catogery">
		<td class="tableTitle">Business Category:</td>
		<td class="tableText">{{customer.business_category}}</td>
	</tr>
	<tr>
		<td colspan="2" class="text-center">
			<div class="custBtn">
				<button class="button_color">Update Information</button>
			</div>
		</td>
	</tr>
</table>



<table class="customerTable" align="center" ng-show="opt == 'update'">
	<tr>
		<td width="20%" class="tableTitle">Name:</td>
		<td width="80%" class="tableText">Er Wang</td>
	</tr>
	<tr>
		<td class="tableTitle">Age:</td>
		<td class="tableText"><input type="text" /></td>
	</tr>
	<tr>
		<td class="tableTitle">Age:</td>
		<td class="tableText"><input type="text" /></td>
	</tr>
	<tr>
		<td width="20%" class="tableTitle">Name:</td>
		<td width="80%" class="tableText">Er Wang</td>
	</tr>
	<tr>
		<td colspan="2" class="text-center">
			<div class="custBtn">
				<button class="button_color">Update Information</button>
			</div>
		</td>
	</tr>
</table>

