<h1 class="text-center">{{customer.name}}</h1>
<h4 class="text-center">{{customer.kind}}</h4>
<div class="optPanel clearfix">
    <a href="#/">&lt;&lt;Return To List Page</a>
</div>
<hr />
<!--Detail-->
<table class="customerTable customerDetailTable" align="center" ng-show="opt == 'view'">
	<tr>
		<td width="40%" class="tableTitle">Customer ID:</td>
		<td width="60%" class="tableText">{{customer.id}}</td>
	</tr>
	<tr>
		<td class="tableTitle">Name:</td>
		<td class="tableText">{{customer.name}}</td>
	</tr>
	<tr ng-show="customer.gender">
		<td class="tableTitle">Gender:</td>
		<td class="tableText">{{customer.gender == 'M'?'Male':'Female'}}</td>
	</tr>
	<tr ng-show="customer.age">
		<td class="tableTitle">Age:</td>
		<td class="tableText">{{customer.age}}</td>
	</tr>
	<tr>
		<td class="tableTitle">Customer Type:</td>
		<td class="tableText">{{customer.kind}}</td>
	</tr>
	<tr ng-show="customer.category">
		<td class="tableTitle">Business Category:</td>
		<td class="tableText">{{customer.category}}</td>
	</tr>
	<tr ng-show="customer.marriage_status">
		<td class="tableTitle">Marriage Status:</td>
		<td class="tableText">{{customer.marriage_status}}</td>
	</tr>
	<tr>
		<td class="tableTitle">Street:</td>
		<td class="tableText">{{customer.street}}</td>
	</tr>
	<tr>
		<td class="tableTitle">City:</td>
		<td class="tableText">{{customer.city}}</td>
	</tr>
	<tr>
		<td class="tableTitle">State:</td>
		<td class="tableText">{{customer.state}}</td>
	</tr>
	<tr>
		<td class="tableTitle">ZIP Code:</td>
		<td class="tableText">{{customer.zip_code}}</td>
	</tr>
	<tr>
		<td class="tableTitle">{{customer.kind == 'home'?'Home Income:':'Company Income:'}}</td>
		<td class="tableText">{{customer.income | currency}}</td>
	</tr>
	<tr>
		<td colspan="2" class="text-center">
			<div class="custBtn">
				<a class="button_color" href="#/customer-detail/{{customer.id}}/update">Update Information</a>
			</div>
			<a href="javascript:void(0);" ng-click="showHistory()" >+ See Transaction History of This Customer</a>
		</td>
	</tr>
</table>
<!--End Detail-->

<!--History-->
<table class="table table-striped customerTable" align="center" ng-show="historyShow">
	<tr class="stripedTr">
		<th>Order ID</th>
		<th>Transaction ID</th>
		<th>Product ID</th>
		<th>Qty</th>
		<th>Price</th>
		<th>Opt</th>
	</tr>
	<tr ng-repeat="h in customer.history | orderBy: id">
		<td>{{h.id}}</td>
		<td>{{h.transaction_id}}</td>
		<td>{{h.product_id}}</td>
		<td>{{h.quantity}}</td>
		<td>{{h.price | currency}}</td>
		<td><a href="#">View Order</a></td>
	</tr>
</table>
<!--End History-->

<!--Update-->
<table class="customerTable" align="center" ng-show="opt == 'update'">
	<tr>
		<td width="40%" class="tableTitle">Customer ID:</td>
		<td width="60%" class="tableText">{{customer.id}}</td>
	</tr>
	<tr>
		<td class="tableTitle">Name:</td>
		<td class="tableText"><input type="text" ng-model="customer.name" /></td>
	</tr>
	<tr ng-show="customer.gender">
		<td class="tableTitle">Gender:</td>
		<td class="tableText">
			<label><input type="radio" name="gender" value="M" ng-model="customer.gender" />Male</label>
			<label><input type="radio" name="gender" value="F" ng-model="customer.gender" />Female</label>
		</td>
	</tr>
	<tr ng-show="customer.age">
		<td class="tableTitle">Age:</td>
		<td class="tableText"><input type="text" ng-model="customer.age"/></td>
	</tr>
	<tr>
		<td class="tableTitle">Customer Type:</td>
		<td class="tableText">{{customer.kind}}</td>
	</tr>
	<tr ng-show="customer.category">
		<td class="tableTitle">Business Category:</td>
		<td class="tableText">
		<select ng-model="customer.category">
			<option value="Medicare">Medicare</option>
			<option value="Pharmaceutical">Pharmaceutical</option>
			<option value="Manufacturing">Manufacturing</option>
			<option value="Food">Food</option>
			<option value="IT">IT</option>
		</select>
		</td>
	</tr>
	<tr ng-show="customer.marriage_status">
		<td class="tableTitle">Marriage Status:</td>
		<td class="tableText">
			<label><input type="radio" name="marriage_status" value="single" ng-model="customer.marriage_status" />Single</label>
			<label><input type="radio" name="marriage_status" value="married" ng-model="customer.marriage_status" />Married</label>
		</td>
	</tr>
	<tr>
		<td class="tableTitle">Street:</td>
		<td class="tableText"><input type="text" ng-model="customer.street"/></td>
	</tr>
	<tr>
		<td class="tableTitle">City:</td>
		<td class="tableText"><input type="text" ng-model="customer.city"/></td>
	</tr>
	<tr>
		<td class="tableTitle">State:</td>
		<td class="tableText"><input type="text" ng-model="customer.state"/></td>
	</tr>
	<tr>
		<td class="tableTitle">ZIP Code:</td>
		<td class="tableText"><input type="text" ng-model="customer.zip_code" maxlength="5" /></td>
	</tr>
	<tr>
		<td class="tableTitle">{{customer.kind == 'home'?'Home Income:':'Company Income:'}}($/year)</td>
		<td class="tableText"><input type="text" ng-model="customer.income"/></td>
	</tr>
	<tr>
		<td colspan="2" class="text-center">
			<div class="custBtn">
				<button class="button_color" ng-click="modifyCustomer()">Confirm</button>
			</div>
		</td>
	</tr>
</table>
<!--End Detail-->
