<h1 class="text-center">Customer Detail</h1>
<div class="optPanel clearfix">
    <a href="#/">&lt;&lt;Return To List Page</a>
</div>
<hr />
<table class="customerTable" align="center">
	<tr>
		<td width="20%" class="tableTitle">Name:</td>
		<td width="80%" class="tableText">Er Wang</td>
	</tr>
	<tr>
		<td class="tableTitle">Age:</td>
		<td class="tableText"><input type="text" /></td>
	</tr>
	<tr>
		<td class="tableTitle">Age:</td>
		<td class="tableText"><input type="text" /></td>
	</tr>
	<tr>
		<td width="20%" class="tableTitle">Name:</td>
		<td width="80%" class="tableText">Er Wang</td>
	</tr>
	<tr>
		<td colspan="2" class="text-center">
			<div class="custBtn">
				<button class="button_color">Update Information</button>
			</div>
		</td>
	</tr>
</table>

