<h1 class="text-center">Customer List</h1>
<div class="optPanel clearfix">
    <form class="searchBar">
        <input type="text" placeholder="Search for..." ng-model="query"/>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </form>
    <form class="sortBar">
        <span>Sort By:</span>
            <select class="sortBy" ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Age</option>
            </select>                
    </form>
</div>
<hr />
<div class="custBtn">
	<button class="button_color">+ New Customer</button>
</div>

<table class="table table-striped customerTable" align="center">
	<tr class="stripedTr">
		<th>ID</th>
		<th>Name</th>
		<th>Age</th>
		<th>Gender</th>
		<th>Option</th>
	</tr>
	<tr ng-repeat="c in customers | filter:query | orderBy: orderProp">
		<td>{{c.id}}</td>
		<td>{{c.name}}</td>
		<td>{{c.age}}</td>
		<td>{{c.gender == 'M'?'Male':"Female"}}</td>
		<td><a href="#/customer-detail/{{c.id}}/view">Detail</a> | <a href="#/customer-detail/{{c.id}}/update">Update</a></td>
	</tr>
</table>

<script type="text/javascript">
    $('.sortBy').selectpicker();
</script>