<h1 class="text-center">Add New Product</h1>
<div class="optPanel clearfix">
    <form class="searchBar">
        <input type="text" placeholder="Search for...(id, name)" />
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </form>

    <form class="sortBar">
        <span>Sort By:</span>
            <select class="sortBy">
                <option>Price (Low to High)</option>
                <option>Price (Highw to Low)</option>
                <option data-divider="true"></option>
                <option>Location</option>
                <option>Category</option>
            </select>                
    </form>
</div>
<hr />
<div class="custBtn">
	<button class="button_color">+ New Customer</button>
</div>

<table class="table table-striped customerTable" align="center">
	<tr class="stripedTr">
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Gender</th>
		<th>Option</th>
	</tr>
	<tr>
		<td>123</td>
		<td>Er</td>
		<td>Wang</td>
		<td>Male</td>
		<td><a href="#/customer-detail">Detail</a> | <a href="#">Update</a></td>
	</tr>
	<tr class="stripedTr">
		<td>123</td>
		<td>Er</td>
		<td>Wang</td>
		<td>Male</td>
		<td><a href="#/customer-detail">Detail</a> | <a href="#">Update</a></td>
	</tr>
	<tr>
		<td>123</td>
		<td>Er</td>
		<td>Wang</td>
		<td>Male</td>
		<td><a href="#">Modify</a></td>
	</tr>
</table>

<script type="text/javascript">
    $('.sortBy').selectpicker();
</script>