<div ng-show="type == 'inventory'">
    <h1 class="text-center">You Want To</h1>
    <div class="text-center selectStore"><a class="button_color selectStoreBtn" href="#/inventory-new" >+ Add New Product</button></a></div>
    <h2 class=" selectStore text-center">Or</h2>
    <h1 class=" selectStore text-center">Manage Inventory</h1>
</div>

<h1 class="text-center selectStore" ng-show="type == 'product'">Select Location</h1>
<div class="text-center selectStore">
        <span>Store: </span>
        <select class="storePicker" selectpicker="{style: 'button_color'}" ng-model="store" data-live-search="true" ng-options="location as location.name for location in storeList" toggle-dropdown>
            <option value="">Select Store</option>
        </select>  
        <div>
            <button class="button_color" ng-click="goToList()">Enter Store</button>  
        </div>                 
</div>
